version: '3.8'

x-airflow-common:
  &airflow-common
  build:
    context: .
    dockerfile: docker/Dockerfile.airflow
  env_file:
    - .env
  environment:
    &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://chronos_user:chronos_password@postgres:5432/airflow_db
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
    AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    POSTGRES_SERVER: postgres
    POSTGRES_PORT: 5432
    POSTGRES_DB: chronos_db
    PYTHONPATH: /opt/airflow/repo
  volumes:
    - ./airflow/dags:/opt/airflow/dags
    - ./airflow/logs:/opt/airflow/logs
    - .:/opt/airflow/repo   # We set up the entire repo so that Airflow can see 'chronos'
  depends_on:
    postgres:
      condition: service_healthy

services:
  postgres:
    image: postgres:16-alpine
    container_name: chronos-postgres
    environment:
      POSTGRES_USER: chronos_user
      POSTGRES_PASSWORD: chronos_password
      # Postgres creates the default DB, but init-db.sql creates airflow_db and mlflow_db
      POSTGRES_DB: chronos_db 
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./docker/init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U chronos_user -d chronos_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  mlflow:
    build:
      context: ./docker
      dockerfile: Dockerfile.mlflow
    container_name: chronos-mlflow
    command:
      - mlflow
      - server
      - --backend-store-uri
      - postgresql://chronos_user:chronos_password@postgres:5432/mlflow_db
      - --default-artifact-root
      - /mlflow/artifacts
      - --host
      - 0.0.0.0
      - --port
      - "5000"
    ports:
      - "5000:5000"
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - mlflow_data:/mlflow

  # --- AIRFLOW SERVICES ---
  
  airflow-init:
    <<: *airflow-common
    container_name: chronos-airflow-init
    command: version
    entrypoint:
      - /bin/bash
      - -c
      - |
        airflow db migrate &&
        airflow users create \
          --username admin \
          --firstname Raul \
          --lastname Garcia \
          --role Admin \
          --email rauld.garcia95@gmail.com \
          --password admin || true
    depends_on:
      postgres:
        condition: service_healthy

  airflow-webserver:
    <<: *airflow-common
    container_name: chronos-airflow-webserver
    command: airflow webserver
    ports:
      - "8080:8080"
    depends_on:
      airflow-init:
        condition: service_completed_successfully

  airflow-scheduler:
    <<: *airflow-common
    container_name: chronos-airflow-scheduler
    command: airflow scheduler
    depends_on:
      airflow-init:
        condition: service_completed_successfully

volumes:
  postgres_data:
  mlflow_data: